@font-face {
  font-family: myfirstFont;
  src: url("Shine\ in\ Valentine.ttf");
}

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

html {
  height: 100%;
  width: 100%;
}
body {
  font-family: myfirstFont, san-serif;
}
.little {
  width: 100px;
}
#big {
  width: 500px;
}
.part1 {
  color: blue;
  font-family: "Open Sans";
}
.part2 {
  color: red;
}
.part3 {
  color: purple;
}
